-# %p#notice= notice

%p
  %b Login:
  =@user.login

%p
  %b Juxtapose ID:
  =@user.juxtapose_id

%h3
  Position

%table
  %tr
    %th Latitude
    %th Longitude
    %th Timestamp

  -if !@user.position.nil?
    %tr
      %td
        =@user.position.latitude

      %td 
        =@user.position.longitude

      %td 
        =@user.position.timestamp

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
