-# %p#notice= notice

%p
  %b Login:
  =@user.login

%p
  %b Juxtapose ID:
  =@user.juxtapose_id

%h3
  Position

-if @user.position.exists?
  %p
    %b latitiude:
    =@user.position.latitude

  %p
    %b longitude:
    =@user.position.longitude

  %p
    %b timestamp:
    =@user.position.timestamp
end

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
